.cards{
    width: 430px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    position: absolute;
    z-index: 10;
    background-color: white;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 5px;
    height: 450px;
}
.cardsHidden{
    opacity: 0;
    height: 0;
    width: 0;
    z-index: -9999;
}
.hidden{
    z-index: -9999;
}
.imageContainer{
    width: 400px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}
.button{
    opacity: 1;
    border: none;
    height: 560px;
    width: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center; 
}

.buttonHidden{
    z-index: -9999;
    opacity: 0;
    width: 0;
    height: 0;
}

#buttonLeft{
 
    background-image: url('./../../assets/icons/arrow-left.png');
}
#buttonRight{
    
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/c/ce/Font_Awesome_5_solid_arrow-circle-right.svg/1200px-Font_Awesome_5_solid_arrow-circle-right.svg.png');
}