.cards{
    width: 430px;
    display: flex;
    flex-direction: row;
    margin-bottom: 100px;
    position: absolute;
    z-index: 10;
    background-color: white;
    margin-top: 50px;
    margin-left: 40px;
    border-radius: 5px;
    height: 450px;
}

.imageContainer{
    width: 400px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}
@mixin button{
    border: none;
    width: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 15px 15px;
    background-position: center; 
}
.buttonLeft{
    @include button;
    background-image: url('./../../assets/icons/arrow-left.png');
}
.buttonRight{
    @include button;
    background-image: url('./../../assets/icons/arrow-right.png');
}



