.cards{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    z-index: 10;
    background-color: rgba(255, 255, 255, 0.95);
    border-radius: 5px;
    height: 450px;
    @media only screen and (min-width: 360px)
    {
        width: 360px;
        padding: 5px;
    }
    @media only screen and (min-width: 801px)
    {
        position: absolute;
        transform: translate(-200px, 25px);
    }
    @media only screen and (min-width: 1100px)
    {
        position: absolute;
        transform: translate(-320px, 25px);
        
    }
}

.imageContainer{
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}
@mixin button{
    @media only screen and (max-width: 801px)
    {
        display: none;
    }
    position: absolute;
    border: none;
    width: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center; 
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
        &:hover{
            opacity: 1;
        }
}
.buttonLeft{
    @include button;
    left: 10px;
    background-image: url('./../../assets/icons/arrow-left.png');
}
.buttonRight{
    left: 100%;
    transform: translateX(-50px);
    @include button;
    background-image: url('./../../assets/icons/arrow-right.png');
}



