.cards{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    z-index: 10;
    background-color: white;
    border-radius: 5px;
    height: 450px;
    @media only screen and (max-width: 360px)
    {
        width: 340px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 10px;
    }
    @media only screen and (min-width: 361px), (max-width: 800px)
    {
        width: 340px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 10px;
    }
    @media only screen and (min-width: 801px)
    {
        width: 400px;
        margin-left: 50%;
        transform: translateX(-50%);
        padding: 0px;
    }
    @media only screen and (min-width: 1100px)
    {
        margin-bottom: 100px;
        position: absolute;
        margin-top: 50px;
        margin-left: 40px;
        transform: translateX(0);
        padding: 0;
    }
}

.imageContainer{
    width: 400px;
    display: flex;
    flex-direction: row;
    overflow-x: scroll;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0 auto;
}
@mixin button{
    position: absolute;
    border: none;
    width: 15px;
    background-color: white;
    background-repeat: no-repeat;
    background-size: 25px 25px;
    background-position: center; 
    top: 50%;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    opacity: 0.5;
    cursor: pointer;
        &:hover{
            opacity: 1;
        }
}
.buttonLeft{
    @include button;
    left: 10px;
    background-image: url('./../../assets/icons/arrow-left.png');
}
.buttonRight{
    left: 100%;
    transform: translateX(-50px);
    @include button;
    background-image: url('./../../assets/icons/arrow-right.png');
}



