.pictureDataWrapper{
    margin: 0 20px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
p{
    display: flex;
    border: 2px solid gray;
    height: 2rem;
    align-items: center;
    margin: 5px 5px 5px 5px;
}
span{
    margin-left: 5px;
}