.pictureDataWrapper{
    width: 100%;
    display: grid;
    p{
        display: flex;
        border: 2px solid gray;
        height: 2rem;
        align-items: center;
        margin: 5px 5px 5px 5px;
        background-color: white;
    }
    span{
        margin-left: 5px;
    }
}

@media only screen and (min-width: 360px)
{
    .pictureDataWrapper{
        grid-template-columns:1fr;
  }
}
@media only screen and (min-width: 800px)
{
    .pictureDataWrapper{
        grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1100px)
{
    .pictureDataWrapper{
        grid-template-columns: 1fr 1fr 1fr;
  }
}