.contentWrapper__pageWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: background-color .4s ease;
  min-width: 360px;
}

@media only screen and (min-width: 360px) {
  .contentWrapper__pageWrapper {
    min-width: 360px;
  }

  .leaflet-container {
    margin-bottom: 0;
  }
}

@media only screen and (min-width: 800px) {
  .contentWrapper__pageWrapper {
    width: 800px;
    padding: 10px;
  }
}

@media only screen and (min-width: 1100px) {
  .contentWrapper__pageWrapper {
    width: 1100px;
    padding: 20px;
  }
}

.lightTheme {
  background-color: rgb(240, 240, 240);
  color: black;
}

.darkTheme {
  background-color: rgb(61, 61, 61);
  color: white;
}