.galleryWrapper{
    margin: 30px 0 20px 0;
}
.bottomGalleryHeader{
    font-weight: 800;
    color: black;
    margin: 0 auto;
    width: fit-content;
}
.bottomImagesWrapper{
    margin-top: 20px;
    display: grid;
    @media only screen and (min-width: 360px){
        grid-template-columns:1fr;}
    @media only screen and (min-width: 800px){
        grid-template-columns: 1fr 1fr;}
    @media only screen and (min-width: 1100px){
        grid-template-columns: 1fr 1fr 1fr;}
}