.bottomGallery__galleryWrapper{
    margin: 30px 0 20px 0;
}
.bottomGallery__header{
    font-weight: 600;
    margin: 0 auto;
    width: fit-content;
}
.bottomGallery__imagesWrapper{
    margin-top: 20px;
    display: grid;
    @media only screen and (min-width: 360px){
        grid-template-columns:1fr;}
    @media only screen and (min-width: 800px){
        grid-template-columns: 1fr 1fr;}
    @media only screen and (min-width: 1100px){
        grid-template-columns: 1fr 1fr 1fr;}
}