@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300&family=Open+Sans:wght@300&display=swap');
.wrapper{
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-color: rgb(0,0,0);
    z-index: 1000;
    opacity: 0.75;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: opacity .4s ease;
}
.closeButton{
    bottom: 100px;
    z-index: 1100;
    font-family: 'Be Vietnam Pro', sans-serif;
    margin-top: 40px;
    width: 100px;
    height: 30px;
    font-weight: 600;
    cursor: pointer;
    border: none;
    background-color: white;
    border-radius: 5px;
        &:hover{
            background-color: rgb(72, 103, 173);
            color: white
        }
}
.imageWrapper{
    z-index: 1100;
    min-width: 30vw;
    max-width: 80vh;
    max-height: 80vh;
    z-index: 1200;
    padding: 5%;
    background-color: white;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    background-image: url('https://c.tenor.com/pgO8hZgOW5AAAAAM/loading-bar.gif');
}
.justifier{
    width: 100vw;
    height: 100vh;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
